html, body {
  margin: 0 2% 0 2%;
  height: 100%;
  font-family: 'Noto Sans', Helvetica, Corbel, sans-serif, Helvetica, Corbel, sans-serif;
  scroll-behavior: smooth;
}
a.book-btn {
  font-size: calc(16px + 2 * (100vw / 1180));
}
@media (max-width: 767px){
  a.book-btn {
 /* font-size: 18px; */
  font-size: calc(16px + (2 + 2 * 0,7) * ((100vw - 360px) / 1180));
}
}
dt, dd {
  color: darkslategray;
}
dd {
  margin-left: 15px;
  font-size: calc(18px + 4 * (100vw / 1180));
}
@media (max-width: 767px){
  dd {
 /* font-size: 22px; */
  font-size: calc(18px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
  margin-left: 0px;
}
}

dt {
  color: #013365ab;
  font-weight: bold;
  font-size: calc(22px + 4 * (100vw / 1180));
}
@media (max-width: 767px){
  dt {
 /* font-size: 22px; */
  font-size: calc(22px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}
em {
  color: darkslategray;
  font-size: calc(18px + 4 * (100vw / 1180));
}
@media (max-width: 767px){
  em {
 /* font-size: 22px; */
  font-size: calc(18px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}

b.number-th-text:before{
  font-size: calc(20px + 4 * (100vw / 1180));
}
@media (max-width: 767px){
  b.number-th-text:before{
 /* font-size: 22px; */
  font-size: calc(20px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}
.sample-t li::before{
  font-size: calc(24px + 2 * (100vw / 1180));
}
@media (max-width: 767px){
  .sample-t li::before{
 /* font-size: 22px; */
  font-size: calc(24px + (2 + 2 * 0,7) * ((100vw - 360px) / 1180));
}
}
.sample li::before{
  font-size: calc(20px + 4 * (100vw / 1180));
}
@media (max-width: 767px){
  .sample li::before{
 /* font-size: 22px; */
  font-size: calc(20px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}
a.sample{
  font-size: calc(18px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
@media (max-width: 767px){
  a.sample {
 /* font-size: 22px; */
  font-size: calc(18px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}
h1 {
 /* font-size: 40px; */
  color: #4b6786;
  line-height: 100%;
  font-size: calc(26px + 14 * (100vw / 1180));
}
@media (max-width: 767px){
  h1 {
 /* font-size: 40px; */
  font-size: calc(26px + (14 + 14 * 0,7) * ((100vw - 360px) / 1180));
}
}
h2 {
 /* font-size: 33px; */
  color: #4b6786;
  line-height: 100%;
  font-size: calc(26px + 7 * (100vw / 1180));
}
@media (max-width: 767px){
  h2 {
 /* font-size: 33px; */
  font-size: calc(26px + (7 + 7 * 0,7) * ((100vw - 360px) / 1180));
}
}
h2 {
  /*font-size: 33px;*/
  color: #4b6786;
  line-height: 100%;
}

h3 {
  font-size: 28px;
  color: #4b6786;
  line-height: 100%;
}

h4 {
  font-size: 24px;
  color: #4b6786;
  line-height: 100%;
}

p {
  font-size: calc(18px + 4 * (100vw / 1180));
  color: darkslategray;
}
@media (max-width: 767px){
  p {
 /* font-size: 22px; */
  font-size: calc(18px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}

i {
  font-family: italic;
  font-size: calc(22px + 4 * (100vw / 1180));
  color: darkslategray;
}
@media (max-width: 767px){
  i {
 /* font-size: 25px; */
  font-family: italic;
  color: darkslategray;
  font-size: calc(22px + (4 + 4 * 0,7) * ((100vw - 360px) / 1180));
}
}

b {
  color: #013365ab;
}

a {
  color: #5a7798;
  text-decoration: underline;
}

a:hover {
  color: orangered;
  text-decoration: blink;
}

a.h1-link1 {
  color: rgb(204, 255, 153);
  text-decoration: none;
}

a.h1-link2 {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.header:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003366;
  z-index: 2;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.logo-1 {
  padding-bottom: 6%;
  object-fit: cover;
}

.logo-2 {
  max-width: 120px;
  object-fit: cover;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
  list-style: none;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 1011px) {
  .logo-1 {
    width: 270px;
    padding-bottom: 6.2%;
  }
  .logo-2 {
    width: 100px;
  }
}
@media (max-width: 942px) {
  .logo-1 {
    width: 210px;
    padding-bottom: 7.5%;
  }
  .logo-2 {
    width: 90px;
  }
}
@media (max-width: 872px) {
  .logo-1 {
    width: 200px;
    padding-bottom: 7.5%;
  }
  .logo-2 {
    width: 80px;
  }
}

@media (max-width: 857px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .logo-1 {
    width: 210px;
    padding-bottom: 7.5%;
  }
  .logo-2 {
    width: 90px;
  }
  .header__body {
    height: 75px;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    transition: all 0.5s ease 0s;
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4082c4;
    padding: 70px 0 0 0;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 15px -15px;
  }
  .header__logo {
  padding-left: 10px;
}
  
}


.header__menu {}

.content {
  padding-top: 100px;
  flex: 1 1 auto;
}

.container {}

.container__text {
  font-size: 22px;
  line-height: 30px;
}

.footer {
  background-color: #eee;;
  text-align: center;
  padding: 25px;
  margin-top: 5%;
  color: #00030680;
}

@media (max-width: 767px) {
  .content {
    padding-top: 70px;
  }
  body.lock {
    overflow: hidden;
  }
}

/* List */
.sample {
  padding-left: 0px;
  color: darkslategray;
}

.sample ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
.sample li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
.sample li::before {
  content: counters(index, ".", decimal-leading-zero);
  /* font-size: 1.5rem; */
  text-align: right;
  font-weight: bold;
  min-width: 40px;
  padding-top: 0px;
  margin-top: 0%;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
.sample li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.sample a {
  /* font-size: 22px; */
  text-decoration: none;
}

/* List */
.sample-t {
  padding-left: 0px;
  color: darkslategray;
}

.sample-t ul {
  padding: 0;
  max-width: 300px;
}

/* List element */
.sample-t li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
.sample-t li::before {
  content: counter(index, decimal-leading-zero);
  /* font-size: 1.5rem; */
  text-align: right;
  font-weight: bold;
  min-width: 40px;
  padding-top: 21.4px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
.sample-t li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.sample-t a {
  font-size: 22px;
  text-decoration: none;
}


.block__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  margin: 0 0 20px 0;
}

.block__column {
  border: 10px solid #4b6785;
  min-width: 100px;
  width: 300px;
  flex-grow: 0.45;
}

.block__item {
  background-color: white;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
}

a.book-btn {
    border: 1px solid #5a7798;
    border-radius: 0.25rem;
    color: #5a7798;
    cursor: pointer;
    display: inline-block;
    /*font-size: 18px;*/
    line-height: 2rem;
    padding: 0 1rem;
    text-decoration: none;
}
a.book-btn:hover {
    color: white;
    background-color: #013365ab;
}

/* Стиль списка */
ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Отображение элементов списка бок о бок */
ol.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ol.breadcrumb li+li:before {
  padding: 8px;
  color: darkslategray;
  content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ol.breadcrumb li a {
  color: #5a7798;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ol.breadcrumb li a:hover {
  color: orangered;
  text-decoration: none;
}
/* посты с карточками */
.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: stretch;
}
.post-item {
   padding: 15px;
   cursor: pointer;
   flex-grow: 1;
}
.post-item * {
   transition: .3s linear;
}
.item-content {
   background: #4b6785;
   padding: 40px;
   min-height: 300px;
}

.item-icon.triangle:before {
   content: url(image/triangle.svg);
}
.item-icon.line:before {
   content: url(image/line.svg);
 }
.item-icon.square:before {
   content: "\f0c8";
}
.item-icon.circle:before {
   content: url(image/circle.svg);
}
.item-icon.paral:before {
   content: url(image/paral.svg);
}
.item-icon.proporcia:before {
   content: url(image/proporcia.svg);
}
.post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
   transform: translateY(-8px);
   color: #FDEAA8;
}
.post-item:hover {
  box-shadow: 0 0 10px #4b6785;
}
.item-body {
   color: lightpink;
   font-size: 14px;
}
.item-body h3 {
   font-weight: 500;
   margin-bottom: 15px;
   transition-delay: .05s;
   color: white;
}
.item-body p {
   transition-delay: .1s;
   color: white;
}
.item-footer {
   padding-top: 15px;
}
.link {
   text-decoration: none;
   display: inline-block;
   overflow: hidden;
   position: relative;
   padding-right: 30px;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 600;
   color: white;
}
.link:hover {
  text-decoration: none;
  color: lightpink;
}
.link:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   bottom: 0;
   height: .125rem;
   margin: auto;
   background: white;
   transform: scaleX(.12);
   transform-origin: left center;
   z-index: 0;
   transition: .2s cubic-bezier(.6, .01, 0, 1);
}
.link span {
   display: inline-block;
   position: relative;
   transform: translateX(-200%);
   transition: .6s cubic-bezier(.6, .01, 0, 1);
   font-size: 14px;
}
.post-item:hover .link span {
   transform: translateX(0%);
}
.post-item:hover .link:before {
   transform-origin: right center;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}
/* посты с карточками end */ 
/* form */
::-webkit-input-placeholder {font-size: 16px;}
::-moz-placeholder {font-size: 16px;}         
:-moz-placeholder {font-size: 16px;}
:-ms-input-placeholder {font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0;}    
:focus::-moz-placeholder {opacity: 0;}    
:focus:-moz-placeholder {opacity: 0;}    
:focus:-ms-input-placeholder {opacity: 0;}    
.form-at {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden;
    font-size: 0;  
    letter-spacing: 0;    
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 10px 18px rgba(0,0,0,0.2);
}
.form-at * {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;    
}
.validate-input-at,
.no-validate-input-at {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
    margin-bottom: 20px;
}
.validate-input-at.w-50,
.no-validate-input-at.w-50 {
    width: calc(50% - 10px);
    display: inline-block;
}
.validate-input-at.w-50:first-child,
.no-validate-input-at.w-50:first-child {
    margin-right: 20px;
}
.input-at {
    display: block;
    width: 100%;
    background: transparent;
    color: #000;
}
input.input-at {
    height: 50px;
    padding: 0 20px 0 20px;
    font-size: 16px;
    outline: none;
    border: none;  
}
textarea.input-at {
    min-height: 170px;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: none;
    resize: none;
}
textarea.input-at:focus, 
input.input-at:focus {
    border-color: transparent;
}
.focus-input-at {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 2px solid #337AB7;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleX(1.1) scaleY(1.3);
}
.input-at:focus + .focus-input-at {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.form-at-btn {
    position: relative;
    display: block;
    padding: 0 40px;
    height: 50px;
    background-color: #337AB7;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.4s;
    margin: 0 auto;
    outline: none;
    border: none;
    cursor: pointer;        
}
.form-at-btn:hover {
    background-color: #333333;
}
.form-at-btn[disabled] {
    opacity: .6;
    cursor: not-allowed;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.alert-validate::after {
    content: "\f129";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    font-weight: bold;    
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
.error-at {
    color: red;
    padding: 10px 0;
}
.success-at {
    color: green;
    font-size: 28px;
    padding: 20px 0;
}
.form-at input[type=checkbox] {
    display:none;
}
.form-at input[type=checkbox] + label {
    display: block;
    position: relative;
    margin: 0 0 20px 34px;
    font-size: 13px;
    line-height: 24px;
    color: #333333;
}
.form-at input[type=checkbox] + label:before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    line-height: 22px;
    left: -34px;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
}
.form-at input[type=checkbox]:checked + label:before{
    content: '\2714';
    color:#337AB7;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #337AB7;
}
@media (max-width: 768px) {
    .validate-input-at.w-50 {
        width: 100%;
    }
    .validate-input-at.w-50:first-child {
        margin-right: 0;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/* form */
/* adaptive photo */
.adapt-photo {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 90px;
  max-width: 390px;
}
.adapt-photo__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.block-photo__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: none;
  margin: 0;
}

.block-photo__column {
  border: none;
  min-width: 360px;
  flex-grow: 0;
}

.block-photo__item {
  padding: 0px;
  font-size: 22px;
  font-weight: 500;
}
/* adaptive photo */

b.number-th-text { 
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}
b.number-th-text-text { 
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

b.number-th-text:before {
    content: counter(n, decimal-leading-zero);
    /* font-size: 1.5rem; */
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.anchor:target { 
  scroll-margin-top: -150px;
 } 
@media (max-width: 857px){
  .anchor { 
    scroll-margin-top: -112,5px;
   } 
}

/* Element separation */
.number-th-text b + b {
  border-top: 1px solid rgba(255,255,255,0.2);
}

/* подсказка */
[data-tooltip] {
    border-bottom: 2px dashed #013365ab;
    cursor: help;
    margin-right: 7px;
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::before {
    content: attr(data-tooltip); /* Выводим текст */
    position: fixed; /* Абсолютное позиционирование */
    min-width: 360px; /* Ширина подсказки */
    max-width: 500px;
    margin-top: 20%;
    margin-left: 0%;
    left: 0; top: 0; /* Положение подсказки */
    background: #003366; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transform: translateX(-100%);
    transition: 1s; /* Время появления подсказки */
    z-index: 5;
   } 
   [data-tooltip]:hover::before {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
    transform: translateX(0);
   }
   [data-tooltip]:hover{
    border-bottom: 0px;
   }
   b.quest:after {
    content: "\274B";
    position: absolute;
    margin-top: -11px;
    font-size: 12px;
       }
        b.quest:hover::after {
    content: "";
       }


